<img src='aggreagate_stat.jpg' style='width:600px;length:500px'>

In [1]:
import pandas as pd
air_quality = pd.read_pickle('air_quality.pkl')

In [2]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 95685 entries, 0 to 95684
Data columns (total 27 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   date_time              95685 non-null  datetime64[ns]
 1   PM2.5                  95685 non-null  float64
 2   PM10                   95685 non-null  float64
 3   SO2                    95685 non-null  float64
 4   NO2                    95685 non-null  float64
 5   CO                     95685 non-null  float64
 6   O3                     95685 non-null  float64
 7   TEMP                   95685 non-null  float64
 8   PRES                   95685 non-null  float64
 9   DEWP                   95685 non-null  float64
 10  RAIN                   95685 non-null  float64
 11  wd                     95685 non-null  object
 12  WSPM                   95685 non-null  float64
 13  station                95685 non-null  object
 14  year                   95685 non-null  int64
 15  month                  95685 non-null  int64
 16  day                    95685 non-null  int64
 17  hour                   95685 non-null  int64
 18  quarter                95685 non-null  int64
 19  day_of_week_num        95685 non-null  int64
 20  day_of_week_name       95685 non-null  object
 21  time_until_2022        95685 non-null  timedelta64[ns]
 22  time_until_2022_days   95685 non-null  float64
 23  time_until_2022_weeks  95685 non-null  float64
 24  prior_2016_ind         95685 non-null  bool
 25  PM2.5_category         95685 non-null  category
 26  TEMP_Category          95685 non-null  category
dtypes: bool(1), category(2), datetime64[ns](1), float64(13), int64(6), object(3), timedelta64[ns](1)
memory usage: 17.8+ MB

In [4]:
air_quality['TEMP'].count()

95685

In [5]:
air_quality['TEMP'].mean()

13.72944615261219

In [6]:
air_quality['TEMP'].std()

11.320713457662487

In [7]:
air_quality['TEMP'].min()

-16.8

In [8]:
air_quality['TEMP'].max()

41.6

In [9]:
air_quality['TEMP'].quantile(0.25)

3.5

In [10]:
air_quality['TEMP'].median()

14.6

In [11]:
air_quality['TEMP'].describe()

count    95685.000000
mean        13.729446
std         11.320713
min        -16.800000
25%          3.500000
50%         14.600000
75%         23.400000
max         41.600000
Name: TEMP, dtype: float64

In [13]:
air_quality['RAIN'].sum()

6171.299999999999

In [14]:
air_quality['PM2.5_category'].mode()

0    Unhealthy
Name: PM2.5_category, dtype: category
Categories (6, object): ['Good' < 'Moderate' < 'Unhealthy for sensitive groups' < 'Unhealthy' < 'Very Unhealthy' < 'Hazardous']

In [15]:
air_quality['PM2.5_category'].nunique()

6

In [16]:
air_quality['PM2.5_category'].describe()

count         95685
unique            6
top       Unhealthy
freq          34257
Name: PM2.5_category, dtype: object

In [17]:
air_quality.count()

date_time                95685
PM2.5                    95685
PM10                     95685
SO2                      95685
NO2                      95685
CO                       95685
O3                       95685
TEMP                     95685
PRES                     95685
DEWP                     95685
RAIN                     95685
wd                       95685
WSPM                     95685
station                  95685
year                     95685
month                    95685
day                      95685
hour                     95685
quarter                  95685
day_of_week_num          95685
day_of_week_name         95685
time_until_2022          95685
time_until_2022_days     95685
time_until_2022_weeks    95685
prior_2016_ind           95685
PM2.5_category           95685
TEMP_Category            95685
dtype: int64

In [19]:
air_quality.mean(numeric_only=True)

PM2.5                      83.477884
PM10                      111.899959
SO2                        15.369771
NO2                        54.178310
CO                       1313.024142
O3                         56.786295
TEMP                       13.729446
PRES                     1011.397848
DEWP                        2.473027
RAIN                        0.064496
WSPM                        1.692044
year                     2014.737106
month                       6.503841
day                        15.648336
hour                       11.519862
quarter                     2.505732
day_of_week_num             3.021707
time_until_2022_days     2470.962593
time_until_2022_weeks     352.994656
prior_2016_ind              0.693369
dtype: float64

In [21]:
air_quality[['PM2.5','TEMP']].mean()

PM2.5    83.477884
TEMP     13.729446
dtype: float64

In [23]:
air_quality[['PM2.5','TEMP']].describe().T

         count       mean        std   min   25%   50%    75%    max
PM2.5  95685.0  83.477884  82.678134   2.0  23.0  59.0  116.0  821.0
TEMP   95685.0  13.729446  11.320713 -16.8   3.5  14.6   23.4   41.6

In [24]:
air_quality.describe().T

,count,mean,std,min,25%,50%,75%,max
PM2.5,95685.0,83.477884,82.678134,2.0,23.0,59.0,116.0,821.0
PM10,95685.0,111.899959,94.775897,2.0,41.0,90.0,154.0,994.0
SO2,95685.0,15.369771,20.381452,1.0,3.0,7.0,20.0,500.0
NO2,95685.0,54.17831,34.2446,2.0,27.0,48.0,74.0,271.0
CO,95685.0,1313.024142,1187.100019,100.0,600.0,900.0,1600.0,10000.0
O3,95685.0,56.786295,57.899402,0.4284,9.0,43.0,82.0,1071.0
TEMP,95685.0,13.729446,11.320713,-16.8,3.5,14.6,23.4,41.6
PRES,95685.0,1011.397848,10.28721,984.0,1003.0,1011.0,1019.6,1042.0
DEWP,95685.0,2.473027,13.717762,-35.3,-8.7,3.0,15.0,28.8
RAIN,95685.0,0.064496,0.819959,0.0,0.0,0.0,0.0,46.4
WSPM,95685.0,1.692044,1.258773,0.0,0.9,1.4,2.2,12.0
year,95685.0,2014.737106,1.157743,2013.0,2014.0,2015.0,2016.0,2017.0
month,95685.0,6.503841,3.443164,1.0,4.0,7.0,10.0,12.0
day,95685.0,15.648336,8.824385,1.0,8.0,16.0,23.0,31.0
hour,95685.0,11.519862,6.946633,0.0,6.0,12.0,18.0,23.0
quarter,95685.0,2.505732,1.117908,1.0,2.0,3.0,4.0,4.0
day_of_week_num,95685.0,3.021707,2.002642,0.0,1.0,3.0,5.0,6.0
time_until_2022,95685,2470 days 23:06:08.070230464,415 days 06:49:03.472645448,1767 days 01:00:00,2115 days 13:00:00,2459 days 14:00:00,2813 days 11:00:00,3228 days 00:00:00
time_until_2022_days,95685.0,2470.962593,415.284068,1767.041667,2115.541667,2459.583333,2813.458333,3228.0
time_until_2022_weeks,95685.0,352.994656,59.326295,252.434524,302.220238,351.369048,401.922619,461.142857

In [25]:
air_quality.describe(include=['object','category','bool'])

,wd,station,day_of_week_name,prior_2016_ind,PM2.5_category,TEMP_Category
count,95685,95685,95685,95685,95685,95685
unique,16,3,7,2,6,5
top,NE,Tiantan,Sunday,True,Unhealthy,Hot
freq,9447,32843,13931,66345,34257,19189

In [28]:
air_quality[['PM2.5_category','TEMP_Category','hour']].mode()

  PM2.5_category TEMP_Category  hour
0      Unhealthy           Hot    21
1            NaN           NaN    23

In [29]:
air_quality['hour'].value_counts()

23    4062
21    4062
0     4052
22    4043
1     4037
6     4037
19    4031
7     4025
9     4023
18    4013
8     4012
20    4011
17    3994
5     3992
2     3988
10    3959
16    3953
15    3943
13    3940
14    3926
4     3906
11    3894
12    3891
3     3891
Name: hour, dtype: int64

In [30]:
air_quality[['PM2.5','TEMP']].agg('mean')

PM2.5    83.477884
TEMP     13.729446
dtype: float64

In [31]:
air_quality[['PM2.5','TEMP']].mean()

PM2.5    83.477884
TEMP     13.729446
dtype: float64

In [33]:
air_quality[['PM2.5','TEMP']].agg(['min','max','mean'])

           PM2.5       TEMP
min     2.000000 -16.800000
max   821.000000  41.600000
mean   83.477884  13.729446

In [34]:
air_quality[['PM2.5','PM2.5_category']].agg(['min','max','mean','nunique'])

C:\Users\Sastra\AppData\Local\Temp/ipykernel_23368/2745958272.py:1: FutureWarning: ['PM2.5_category'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  air_quality[['PM2.5','PM2.5_category']].agg(['min','max','mean','nunique'])

              PM2.5 PM2.5_category
min        2.000000           Good
max      821.000000      Hazardous
mean      83.477884            NaN
nunique  676.000000              6

In [38]:
air_quality[['PM2.5','PM2.5_category']].agg({'PM2.5':['min','max','mean'],'PM2.5_category':'nunique'})

              PM2.5  PM2.5_category
min        2.000000             NaN
max      821.000000             NaN
mean      83.477884             NaN
nunique         NaN             6.0

In [39]:
def max_minus_min(s):
    return s.max()-s.min()

In [40]:
max_minus_min(air_quality['TEMP'])

58.400000000000006

In [41]:
air_quality[['PM2.5','TEMP']].agg(['min','max',max_minus_min])

               PM2.5  TEMP
min              2.0 -16.8
max            821.0  41.6
max_minus_min  819.0  58.4

In [42]:
air_quality[['PM2.5','PM10']]

       PM2.5  PM10
0        9.0   9.0
1        4.0   4.0
2        4.0   4.0
3        5.0   5.0
4        3.0   6.0
...      ...   ...
95680    9.0   9.0
95681   10.0  29.0
95682   18.0  32.0
95683   15.0  42.0
95684   15.0  50.0

[95685 rows x 2 columns]

In [44]:
air_quality[['PM2.5','PM10']].min()

PM2.5    2.0
PM10     2.0
dtype: float64

In [45]:
air_quality[['PM2.5','PM10']].min(axis=1)

0         9.0
1         4.0
2         4.0
3         5.0
4         3.0
         ...
95680     9.0
95681    10.0
95682    18.0
95683    15.0
95684    15.0
Length: 95685, dtype: float64

In [46]:
air_quality[['PM2.5','PM10']].mean(axis=1)

0         9.0
1         4.0
2         4.0
3         5.0
4         4.5
         ...
95680     9.0
95681    19.5
95682    25.0
95683    28.5
95684    32.5
Length: 95685, dtype: float64

<img src='agg_method.jpg' style='width:600px;length:500px'>